html
{
  height: 100%;
  width: 100%;
  font-family: "arial";
}
h1
{
  color: white;
  background-color: tomato;
}
ol
{
  color: white;
  background-color: DarkCyan;
}
ul
{
  color: white;
  background-color: OrangeRed;
}
li
{
  color: #00004d;
}
form
{
  background-color: AliceBlue;
  border-color: DarkSlateBlue;
  border-style: solid;
}
table
{
  background-color: LemonChiffon;
  border-color: DarkOrange;
  border-style: solid;
}

.header {
  color: White;
  background-color: Tomato;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
.demuc {
  color: Azure;
  background-color: Coral;
  padding: 5px;
  font-weight: bold;
  display: block;
  float: left;
}
.demuc a {
  color: Azure;
}
.demuc a:hover {
  color: Azure;
  background-color: Crimson;
}
