html
{
  height: 100%;
  width: 100%;
  font-family: "arial";
}
h1
{
  color: white;
  background-color: tomato;
}
ol
{
  color: white;
  background-color: DarkCyan;
}
ul
{
  color: white;
  background-color: OrangeRed;
}
li
{
  color: #00004d;
}
form
{
  background-color: AliceBlue;
  border-color: DarkSlateBlue;
  border-style: solid;
}
table
{
  background-color: LemonChiffon;
  border-color: DarkOrange;
  border-style: solid;
}
